<ion-content>
  <div class="container-height">
    <div class="container-content">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <ion-button (click)="takePictiure()" expand="block" fill="solid" shape="round">
              Take picture
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button (click)="ViewGallery()" expand="block" fill="solid" shape="round">
             View Gallery
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
