.temp-body{
    height: 100vh;
    display: table;
    width: 100%;
    .temp-content{
        background-color: #a2e665;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        h3{
            margin: 0;
            font-weight: 600;
            color: #000;
        }
    }
}